body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 400px;
  margin-left: 600px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  
}
